# ``Estandarización``

In [1]:
# Lectura de datos
# ==============================================================================
import pickle

# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd
import sidetable
from sklearn.preprocessing import OneHotEncoder

# Estadísticos
# ==============================================================================
from scipy import stats
import researchpy as rp
from scipy.stats import levene
from sklearn.preprocessing import RobustScaler


# Librerías para manejar fechas
# ==============================================================================
from datetime import datetime
import calendar

# Desplegar todas las columnas
# ==============================================================================
pd.options.display.max_columns = None

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
import seaborn as sns

# Test de Shapiro
# ==============================================================================
from scipy import stats

# Asimetría
# ==============================================================================
from scipy.stats import skew

# Curtosis
# ==============================================================================
from scipy.stats import kurtosistest

# Test de Levene
# ==============================================================================
from scipy.stats import levene

# Configuración warnings
# ==============================================================================
#import warnings
#warnings.filterwarnings('ignore')

# Tamaño gráficas
# ==============================================================================
plt.rcParams["figure.figsize"] = (10,8)

In [2]:
df = pd.read_pickle("datos/4.2.casual_encoding_map_final.pkl")
#df = pd.read_csv("datos/4.casual_encoding_oh_final.csv", index_col=0).reset_index(drop=True)
df.head()

,seasons,yr,mnth,holiday_num,weekday_num,workingday_num,weathersit,atemp,hum,windspeed,casual
0,1,0,1,1,0,0,2,18.18125,80.5833,10.749882,331
1,1,0,1,0,1,1,2,17.68695,69.6087,16.652113,131
2,1,0,1,0,2,1,1,9.47025,43.7273,16.636703,120
3,1,0,1,0,3,1,1,10.60610,59.0435,10.739832,108
4,1,0,1,0,4,1,1,11.46350,43.6957,12.522300,82

In [3]:
numericas= df.select_dtypes(np.number)#Seleccionamos solo las variables numericas

In [4]:
numericas.columns

Index(['seasons', 'yr', 'mnth', 'holiday_num', 'weekday_num', 'workingday_num',
       'weathersit', 'atemp', 'hum', 'windspeed', 'casual'],
      dtype='object')

In [5]:
numericas.drop(columns=['casual'],axis=1,inplace=True)#Eliminamos la variable respuesta

In [6]:
numericas.head(2)

,seasons,yr,mnth,holiday_num,weekday_num,workingday_num,weathersit,atemp,hum,windspeed
0,1,0,1,1,0,0,2,18.18125,80.5833,10.749882
1,1,0,1,0,1,1,2,17.68695,69.6087,16.652113

In [7]:
numericas.shape

(730, 10)

In [8]:
"""fig, axes = plt.subplots(nrows = 1, ncols = 2, figsize = (30, 8))

columnas = numericas.columns
axes = axes.flat


for i, colum in enumerate(columnas): 
    sns.histplot(
        data = numericas,
        x = colum,
        kde = True,  
        line_kws = {"linewidth": 2}, 
        alpha = 0.2, 
        ax = axes[i])
    
    
    axes[i].set_title(colum, fontsize = 15, fontweight = "bold")
    axes[i].tick_params(labelsize = 20)
    axes[i].set_xlabel("")"""

'fig, axes = plt.subplots(nrows = 1, ncols = 2, figsize = (30, 8))\n\ncolumnas = numericas.columns\naxes = axes.flat\n\n\nfor i, colum in enumerate(columnas): \n    sns.histplot(\n        data = numericas,\n        x = colum,\n        kde = True,  \n        line_kws = {"linewidth": 2}, \n        alpha = 0.2, \n        ax = axes[i])\n    \n    \n    axes[i].set_title(colum, fontsize = 15, fontweight = "bold")\n    axes[i].tick_params(labelsize = 20)\n    axes[i].set_xlabel("")'

In [9]:
robust = RobustScaler()

In [10]:
# ajustamos el modelo utilizando nuestro set de datos
robust.fit(numericas)

RobustScaler()

In [11]:
x_robust= robust.transform(numericas)

In [12]:
numericas_robust= pd.DataFrame(x_robust,columns=numericas.columns)

In [13]:
"""fig, axes = plt.subplots(nrows = 1, ncols = 2, figsize = (30, 8))

columnas = numericas_robust.columns
axes = axes.flat


for i, colum in enumerate(columnas): 
    sns.histplot(
        data = numericas_robust,
        x = colum,
        kde = True,  
        line_kws = {"linewidth": 2}, 
        alpha = 0.2, 
        ax = axes[i])
    
    
    axes[i].set_title(colum, fontsize = 15, fontweight = "bold")
    axes[i].tick_params(labelsize = 20)
    axes[i].set_xlabel("")"""

'fig, axes = plt.subplots(nrows = 1, ncols = 2, figsize = (30, 8))\n\ncolumnas = numericas_robust.columns\naxes = axes.flat\n\n\nfor i, colum in enumerate(columnas): \n    sns.histplot(\n        data = numericas_robust,\n        x = colum,\n        kde = True,  \n        line_kws = {"linewidth": 2}, \n        alpha = 0.2, \n        ax = axes[i])\n    \n    \n    axes[i].set_title(colum, fontsize = 15, fontweight = "bold")\n    axes[i].tick_params(labelsize = 20)\n    axes[i].set_xlabel("")'

In [14]:
columnas_robust=numericas_robust.columns

In [15]:
df.drop(columnas_robust, axis = 1, inplace = True)

In [16]:
df[columnas_robust] = numericas_robust[columnas_robust]

In [17]:
df.head()

,casual,seasons,yr,mnth,holiday_num,weekday_num,workingday_num,weathersit,atemp,hum,windspeed
0,331,-1.0,-0.5,-1.0,1.0,-0.75,-1.0,1.0,-0.456399,0.863588,-0.216120
1,131,-1.0,-0.5,-1.0,0.0,-0.50,0.0,1.0,-0.492863,0.335222,0.711284
2,120,-1.0,-0.5,-1.0,0.0,-0.25,0.0,0.0,-1.098990,-0.910822,0.708863
3,108,-1.0,-0.5,-1.0,0.0,0.00,0.0,0.0,-1.015201,-0.173433,-0.217699
4,82,-1.0,-0.5,-1.0,0.0,0.25,0.0,0.0,-0.951952,-0.912344,0.062376

In [18]:
#guardamos en csv y en pkl los df con los datos de casuales:

df.to_csv('datos/5.2.casual_encoding_estandarizacion.csv')
df.to_pickle('datos/5.2.casual_encoding_estandarizacion.pkl')